4-rethinkdb-in-practice/examples/bottle-ember-todo/index.html
4-rethinkdb-in-practice/examples/flask-backbone-todo/index.html
4-rethinkdb-in-practice/examples/node-socket-chat/index.html
4-rethinkdb-in-practice/examples/sinatra-pastie/index.html
4-rethinkdb-in-practice/examples/webpy-blog/index.html
*.swp
.DS_Store
*~
