4-rethinkdb-in-practice/examples/bottle-ember-todo/
4-rethinkdb-in-practice/examples/flask-backbone-todo/
4-rethinkdb-in-practice/examples/node-socket-chat/
4-rethinkdb-in-practice/examples/sinatra-pastie/
4-rethinkdb-in-practice/examples/webpy-blog/
*.swp
.DS_Store
*~
_scripts/py_docs.json
_scripts/reql_docs.json
