{% comment %}
<!-- Pick the correct index for the language on the page, based on the
    `language` YAML flag. --!>
{% endcomment %}
{% case page.language %}
    {% when 'JavaScript' %}
        {% assign api = site.data.docs.api_javascript %}
        {% assign lang = 'javascript' %}
    {% when 'Python' %}
        {% assign api = site.data.docs.api_python %}
        {% assign lang = 'python' %}
    {% when 'Ruby' %}
        {% assign api = site.data.docs.api_ruby %}
        {% assign lang = 'ruby' %}
{% endcase %}

{% comment %}
<!-- Get the unique ID for this command based on the page
    permalink (to highlight the active section / command in the nav)
--!>
{% endcomment %}
{% assign this_cmd = page.permalink | split: "/" | last %}

<nav class="api-nav docs-nav{% if page.api_index %} anchor-links{% endif %}">
    {% for each in api %}
        {% assign commands_in_section = each.section.commands | map: 'permalink' %}

        {% comment %}
        <!-- If this is an API command, expand the nav section for this
            command, or expand it if the YAML flag `api_index` is `true`
            (used on the API index pages).  
        --!>
        {% endcomment %}
        {% assign expanded = false %}
        {% if commands_in_section contains this_cmd or page.api_index %}
            {% assign expanded = true %}
        {% endif %}

        <section>
            <h1><a href="#">{{ each.section.name }}</a></h1>
            <ul class="commands {% if expanded %} expanded{% endif %}">
                {% for command in each.section.commands %}
                <li{% if command.permalink == this_cmd %} class='active'{% endif %}>
                        {% if page.api_index %}
                            <a href="#{{ command.permalink }}">{{ command.name }}</a>
                        {% else %}
                            <a href="/api/{{ lang }}/{{ command.permalink }}">{{ command.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</nav>
