{% comment %}
<!--
    Notes:
    - `lang` is the current language of the documentation / API page.
    - Documentation pages don't necessarily apply to all languages. They
      can exclude languages by setting these YAML variables to `false`:
        * page.js
        * page.rb
        * page.py
      The language switcher will then disable those languages on that page.
    - The `apiurltag` block tag generates correct links for the language
      variants of the current page (using `page.permalink`)
-->
{% endcomment %}

{% case page.language %}
    {% when 'JavaScript' %}
        {% assign lang = 'js' %}
    {% when 'Python' %}
        {% assign lang = 'py' %}
    {% when 'Ruby' %}
        {% assign lang = 'rb' %}
    {% when 'Java' %}
        {% assign lang = 'java' %}
{% endcase %}

{% comment %}<!-- Generate links for this page in other languages -->{% endcomment %}
{% capture js_link %}
    {% apiurltag javascript %}{{ page.permalink }}{% endapiurltag %}
{% endcapture %}
{% capture py_link %}
    {% apiurltag python %}{{ page.permalink }}{% endapiurltag %}
{% endcapture %}
{% capture rb_link %}
    {% apiurltag ruby %}{{ page.permalink }}{% endapiurltag %}
{% endcapture %}
{% capture java_link %}
    {% apiurltag java %}{{ page.permalink }}{% endapiurltag %}
{% endcapture %}
<nav class="lang-selector">
    <p class="caption">Language: </p>
    <section class="languages">
        <a class="lang javascript{% if lang == 'js' %} active{% endif %}"
            {% unless page.js == false %}href="{{ js_link }}"{% endunless %}>
            <i class="javascript"></i>
            <span {% if page.js == false %}class="disabled"{% endif %}>JavaScript</span>
        </a><span class="divider">|</span><!--
        --><a class="lang python{% if lang == 'py' %} active{% endif %}"
            {% unless page.py == false %}href="{{ py_link }}"{% endunless %}>
            <i class="python"></i>
            <span {% if page.py == false %}class="disabled"{% endif %}>Python</span>
        </a><span class="divider">|</span><!--
        --><a class="lang ruby {% if lang == 'rb' %} active{% endif %}"
            {% unless page.rb == false %}href="{{ rb_link }}"{% endunless %}>
            <i class="ruby"></i>
            <span {% if page.rb == false %}class="disabled"{% endif %}>Ruby</span>
        </a><span class="divider">|</span><!--
        --><a class="lang java {% if lang == 'java' %} active{% endif %}"
            {% unless page.java == false %}href="{{ java_link }}"{% endunless %}>
            <i class="java"></i>
            <span {% if page.java == false %}class="disabled"{% endif %}>Java</span>
        </a>
    </section>
</nav>
