#docs-archive-nav::after {
    clear: both;
    content: "";
    display: table;
}

#docs-archive-nav ul {
    float: left;
    display: block;
    width: 23.23176%;
    margin-right: 2.35765%;
    text-align: left;
}

#docs-archive-nav li {
    margin: 0.1rem 2.5rem 0 0;
}

#docs-archive-nav p {
    float: left;
    display: block;
    width: 74.41059%;
    color: white;
    margin-bottom: 0;
}

#docs-archive-nav p a {
    border-bottom: thin dotted white;
}


@media screen and (max-width: 44rem) {
    #docs-archive-nav ul {
        float: right;
        text-align: right;
        width: 10%;
    }

    #docs-archive-nav p {
        width: 80%
    }
}
