---
layout: default
active: api
title: "ReQL command reference"
---
<div id="api-details" class="section documentation">
    <div id="api-header">
        <h1 class="title">Deprecated ReQL command</h1>
    </div>
    <div class="linksbox-container">
        <div class="linksbox">
            <p><strong>Contribute:</strong> <a href="https://github.com/rethinkdb/docs/blob/master{{page.path | remove_first: 'docs' }}">edit this page</a>
            or <a href="https://github.com/rethinkdb/docs/issues">open an issue</a> </p>
        </div>

    </div>

    {{content}}

    <h1>Get more help</h1>
    <p>Couldn't find what you were looking for?</p>
    <ul>
        <li class="stack-overflow"><strong>Ask a question</strong> on <a href="http://stackoverflow.com/questions/tagged/rethinkdb">Stack Overflow</a></li>
        <li class="irc"><strong>Talk to the team on IRC</strong> on <a href="irc://freenode.net/#rethinkdb">#rethinkdb@freenode.net</a> &mdash; via <a href="http://webchat.freenode.net/?channels=#rethinkdb">Webchat</a></li>
        <li class="twitter"><strong>Ping</strong> <a href="http://twitter.com/rethinkdb">@rethinkdb</a> on Twitter</li>
        <li class="github"><strong>Post an issue</strong> on the <a href="https://github.com/rethinkdb/docs/issues">documentation issue tracker</a> on GitHub</li>
    </ul>

</div>
