---
layout: default
js_docs: true
---
<div class="section documentation">
    {% if page.doc_index %}
        <div id="docs-switcher" class="infobox infobox-slim"></div>
    {% endif %}
    {% if page.title_image %}
        <img class="title-image" src="{{page.title_image}}" />
    {% endif %}
    {{ page.title | page_title }}
    <div class="navigation doc_navigation">
        <h1>About RethinkDB</h1>
        <ul>
            <li{% if page.docs_active == 'faq' %} class="active"{% endif %}>                    <a href="/faq/">Frequently asked questions</a>
            <li{% if page.docs_active == 'architecture' %} class="active"{% endif %}>           <a href="/docs/architecture/">Architecture details</a>
            <li{% if page.docs_active == 'rethinkdb-vs-mongodb' %} class="active"{% endif %}>   <a href="/docs/rethinkdb-vs-mongodb/">RethinkDB compared to MongoDB</a></li>
            <li{% if page.docs_active == 'comparison-tables' %} class="active"{% endif %}>      <a href="/docs/comparison-tables/">Technical comparison tables</a></li>
        </ul>
        <h1>Get started</h1>
        <ul>
            <li{% if page.docs_active == 'quickstart' %} class="active"{% endif %}>     <a href="/docs/quickstart/">Thirty-second quickstart</a></li>
            <li{% if page.docs_active == 'guide' %} class="active"{% endif %}>          <a href="/docs/guide/">Ten-minute guide</a></li>
            <li{% if page.docs_active == 'install' %} class="active"{% endif %}>        <a href="/docs/install/">Install RethinkDB server </a></li>
            <li{% if page.docs_active == 'install-drivers' %} class="active"{% endif %}><a href="/docs/install-drivers/">Install client drivers</a></li>
            <li{% if page.docs_active == 'start-a-cluster' %} class="active"{% endif %}><a href="/docs/start-a-cluster/">Start a RethinkDB cluster</a></li>
        </ul>
        <h1>Query language</h1>
        <ul>
            <li class="external"><a target="_blank" href="/api/">API reference</a></li>
            <li{% if page.docs_active == 'introduction-to-reql' %} class="active"{% endif %}>       <a href="/docs/introduction-to-reql/">Introduction to ReQL</a></li>
            <li{% if page.docs_active == 'map-reduce' %} class="active"{% endif %}>                 <a href="/docs/map-reduce/">Map-reduce in RethinkDB</a></li>
            <li{% if page.docs_active == 'table-joins' %} class="active"{% endif %}>                <a href="/docs/table-joins/">Table joins in RethinkDB</a></li>
            <li{% if page.docs_active == 'secondary-indexes' %} class="active"{% endif %}>          <a href="/docs/secondary-indexes/">Using secondary indexes</a></li>
            <li{% if page.docs_active == 'dates-and-times' %} class="active"{% endif %}>            <a href="/docs/dates-and-times/">Dates and times in RethinkDB</a></li>
        </ul>
        <h1>Learn the tools</h1>
        <ul>
            <li{% if page.docs_active == 'administration-tools' %} class="active"{% endif %}>       <a href="/docs/administration-tools/">Administration tools</a></li>
            <li{% if page.docs_active == 'sharding-and-replication' %} class="active"{% endif %}>   <a href="/docs/sharding-and-replication/">Sharding and replication</a></li>
            <li{% if page.docs_active == 'failover' %} class="active"{% endif %}>                   <a href="/docs/failover/">Failover</a></li>
            <li{% if page.docs_active == 'migration' %} class="active"{% endif %}>                  <a href="/docs/migration/">Version migration</a></li>
        </ul>
        <h1>RethinkDB in practice</h1>
        <ul>
            <li{% if page.docs_active == 'cookbook' %} class="active"{% endif %}>                   <a href="/docs/cookbook/">Cookbook</a></li>
            <li{% if page.docs_active == 'troubleshooting' %} class="active"{% endif %}>            <a href="/docs/troubleshooting/">Troubleshooting</a></li>
            <li{% if page.docs_active == 'examples' %} class="active"{% endif %}>                   <a href="/docs/examples/">Example projects</a></li>
            <li{% if page.docs_active == 'frameworks-and-libraries' %} class="active"{% endif %}>   <a href="/docs/frameworks-and-libraries/">Integrations</a></li>
            <li{% if page.docs_active == 'data-modeling' %} class="active"{% endif %}>              <a href="/docs/data-modeling/">Data modeling in RethinkDB</a></li>
        </ul>
        <h1>Deploying RethinkDB</h1>
        <ul>
            <li{% if page.docs_active == 'cluster-on-startup' %} class="active"{% endif %}> <a href="/docs/cluster-on-startup/">Create a cluster on startup</a></li>
            <li{% if page.docs_active == 'backup' %} class="active"{% endif %}>             <a href="/docs/backup/">Back up your data</a></li>
            <li{% if page.docs_active == 'security' %} class="active"{% endif %}>           <a href="/docs/security/">Secure your cluster</a></li>
            <li{% if page.docs_active == 'aws' %} class="active"{% endif %}>           <a href="/docs/aws/">Amazon Web Services</a></li>
        </ul>
    </div>
    <div class="documentation-content {% if page.cookbook %}cookbook{% endif %}">{{content}}</div>
</div>

{% add_doc_index %}
<script type="text/javascript">
    if(typeof rdb_docs_data != 'undefined'){
        rdb_docs.show_switcher(rdb_docs_data);
    }
</script>
